<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} EdgeEver. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Open source on <a
      href="https://github.com/msh01/edgeever"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      GitHub
    </a>
  </p>
</footer>
