---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">基于现代且高效的技术栈构建</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12 text-slate-600 hover:text-indigo-600 transition" name="simple-icons:react" title="React" />
    <Icon class="size-8 md:size-12 text-slate-600 hover:text-orange-500 transition" name="simple-icons:cloudflare" title="Cloudflare" />
    <Icon class="size-8 md:size-12 text-slate-600 hover:text-yellow-600 transition" name="simple-icons:bun" title="Bun" />
    <Icon class="size-8 md:size-12 text-slate-600 hover:text-teal-500 transition" name="simple-icons:tailwindcss" title="Tailwind CSS" />
    <Icon class="size-8 md:size-12 text-slate-600 hover:text-blue-500 transition" name="simple-icons:sqlite" title="SQLite" />
    <Icon class="size-8 md:size-12 text-slate-600 hover:text-red-500 transition" name="simple-icons:hono" title="Hono" />

  </div>
</div>
